[features]
seeds = false
skip-lint = false

[programs.localnet]
solana_sentinel = "9FouWHemn9iueyHYq4qpeNj9aHMyTKfEPt8ZpJaHcZ95"

[programs.devnet]
solana_sentinel = "9FouWHemn9iueyHYq4qpeNj9aHMyTKfEPt8ZpJaHcZ95"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
